body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
header{
    /* position: relative; */
    background-color: white;
}

header .container .nav .nav-item{
    font-weight: bold;
    font-size: large;
    color: black;
}

section.hero{
    background-color: rgb(12, 39, 117) ;
    position: relative;
}

section.hero .container{
    padding-top: 200px;
    padding-bottom: 160px;
    position: relative;
}

section.hero .headline h1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -2px;
}

section.hero .headline p{
    font-size: 25px;
}

section.hero img.globe{
    width: 800px;
    height: 670px;
    position: absolute;
    top: 12.1%;
    left: 47.9%;
}